<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                darkMode: 'class'
            }
        </script>
    </head>
    <body class="bg-gray-100 text-gray-800 m-10 dark:bg-gray-800 dark: text-white">
        <div class="w-full md:w-2/3 mx-auto mb-4 flex justify-between items-center">
            <div class="text-4xl">
                <a href="{{ path('app_micro_post') }}">Home</a>
                {% block bread %}{% endblock %}
            </div>

            <div class="text-right">
                <div class="text-sm text-gray-400 dark:text-gray-500">
                    <div>
                        <a href="{{ path('app_login') }}">Login</a>
                    </div>
                    <div>
                        <a href="{{ path('app_micro_post_create') }}">Add New</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full md:w-2/3 mx-auto">
            {% for message in app.flashes('success') %}
                <div class="rounded-md p-2 border-green-300 bg-green-500 border dark:border-green-600 dark:bg-green-700 dark:text-white mb-4">
                    {{ message }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
    </body>
</html>
